@model DABanDan.Models.LoaiDan

@{
    ViewBag.Title = "DeleteLD";
}

<center>
    <h2>Xóa Loại Đàn</h2>
</center>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "Index")
        </div>
    }
</div>
