@model DABanDan.Areas.Admin.Models.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<!-- Head -->
<head>
    <title style="background-color: black">Trang Đăng Nhập</title>
    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Existing Login Form Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->
    <link href="~/Areas/Admin/AssetsLogin/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Style -->
    <link rel="stylesheet" href="~/Areas/Admin/AssetsLogin/css/style.css" type="text/css" media="all" />
    <!-- Fonts -->
    <link href="/fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- //Fonts -->
</head>
<!-- Body -->
<body>
    <center>
        <h1>TRANG ĐĂNG NHẬP</h1>
    </center>
    <div class="w3layoutscontaineragileits">
        <h2>Đăng Nhập</h2>
        @using (Html.BeginForm("LoginAdmin", "LoginAdmin", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @autofocus = "autofocus" })
            @Html.PasswordFor(model => model.PassWord, new { @class = "form-control" })
            <ul class="agileinfotickwthree">
                <li>
                    @ViewBag.Error
                    <input type="checkbox" id="brand1" value="">
                </li>
            </ul>
            <div class="aitssendbuttonw3ls">
                <input type="submit" class="btn btn-lg btn-success btn-block" value="Login">
                <div class="clear"></div>
            </div>
        }
        <!-- //for register popup -->
        <script type="text/javascript" src="~/Areas/Admin/AssetsLogin/js/jquery-2.1.4.min.js"></script>
        <!-- pop-up-box-js-file -->
        <script src="~/Areas/Admin/AssetsLogin/js/jquery.magnific-popup.js" type="text/javascript"></script>
        <!--//pop-up-box-js-file -->
        <script>
            $(document).ready(function () {
                $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
        </script>
    </div>
</body>
<!-- //Body -->
</html>