@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <section class="row">
        <div class="col col-12">
            <center>
                <br />
                <br />
                <br />
                <br />
                <h1>WELCOM</h1>
                <h4>(Trang Quản Trị)</h4>
            </center>
        </div>
    </section>
</div>